<!-- Tab: Dashboard -->
<div id="tab-dashboard" class="tab-content active-tab" style="animation: none;">
    <h2 id="agency-welcome">BIENVENIDOS, RECLUTAS</h2>
    <p>EL PROTOCOLO DE GRUPO HA SIDO DESBLOQUEADO CON ÉXITO.</p>

    <div class="mission-details">
        <h3>NUEVO MANDATO:</h3>
        <p>La Orden requiere su asistencia inmediata en una operación de campo. Manténganse alerta: han
            sido detectadas intercepciones en nuestros canales por unidades enemigas no identificadas.
            Cuiden su entorno. No confíen en extraños.</p>
    </div>

    <div class="dashboard-footer">
        <button class="agency-btn" id="btn-ver-archivos-dash">PROCEDER A ARCHIVOS</button>
    </div>
</div>
